### Reading and Writing Data in Text Format

In [5]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10,6))
np.set_printoptions(precision=4, suppress=True)

In [26]:
import os

In [2]:
!cat examples/ex1.csv

cat: examples/ex1.csv: No such file or directory

In [ ]:
df=pd.read_csv('examples/ex1.csv')
df

In [ ]:
pd.read_table('examples/exl.csv',sep=',')

In [ ]:
pd.read_csv('examples/ex2.csv', header=None)
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

In [ ]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

In [ ]:
!cat examples/csv_mindex.csv
parsed = pd.read_csv('examples/csv_mindex.csv',
                     index_col=['key1', 'key2'])
parsed

In [ ]:
list(open('examples/ex3.txt'))

In [ ]:
result = pd.read_table('examples/ex3.txt', sep='\s+')
result

In [ ]:
!cat examples/ex4.csv
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

In [ ]:
!cat examples/ex5.csv
result = pd.read_csv('examples/ex5.csv')
result
pd.isnull(result)

In [ ]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])
result

In [ ]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinels)

### Reading Text Files in Pieces

In [ ]:
pd.options.display.max_rows=10

In [ ]:
result=pd.read_csv('examples/ex6.csv')
result

In [ ]:
pd.read_csv("examples/ex6.csv", nrows=5)
chunker=pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker

In [ ]:
chunker=pd.read_csv('examples/ex6.csv', chunksize=1000)

tot=pd.Series([])
for piece in chunker:
    tot=tot.add(piece['key'].value_counts(), fill_vlaue=0)
    
tot =tot.sort_values(ascending=False)

tot[:10]

### Writing Data to Text Format

In [ ]:
data= pd.read_csv('examples/ex5.csv')
data

In [ ]:
data.to_csv('examples/out.csv')
! cat examples/out.csv

In [ ]:
import sys
data.to_csv(sys.stdout, sep='|')

In [ ]:
data.to_csv(sys.stdout, na_rep='NULL')
data.to_csv(sus.stdout, index=False, header=False)

In [ ]:
data.to_csv(sys.stdout, index=False, columns=['a','b','c'])

In [ ]:
dates=pd.date_range('1/1/2000', periods=7)
ts=pd.Series(np.arange(7), index=dates)
ts.to_csv('examples/tseries.csv')
!cat examples/tseries.csv

### Working with Delimited Formats

In [ ]:
!cat exmaples/ex7.csv

In [ ]:
import csv
f=open('examples/ex7.csv')
reader=csv.reader(f)

In [ ]:
for line in reader:
    print(line)

In [ ]:
with open('examples/ex7.csv') as f:
    lines=list(csv.reader(f))

In [ ]:
header, values=lines[0],lines[1:]

In [ ]:
data_dict={h: v for h, v in zip(header, zip(*values))}
data_dict

### JSON Data

In [1]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [2]:
import json
result=json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [3]:
asjson=json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [10]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [11]:
!cat examples/example.json

cat: examples/example.json: No such file or directory

In [ ]:
data = pd.read_json('examples/example.json')
data

In [ ]:
print(data.to_json())
print(data.to_json(orient='records')

### XML and HTML: Web Scraping

In [ ]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')
len(tables)
failures = tables[0]
failures.head()

close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

conda install lxml pip install beuatifulsoup4 html5lib

__Parsing XML with lxml.objectify__

In [ ]:
from lxml import objectify

path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [ ]:
data=[]

skip_fields=['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [ ]:
perf = pd.DataFrame(data)
perf.head()

In [ ]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [ ]:
root
root.get('href')
root.text

### Binary Data Formats

In [ ]:
frame = pd.read_csv('examples/ex1.csv')
frame
frame.to_pickle('examples/frame_pickle')

In [ ]:
pd.read_pickle('examples/frame_pickle')

In [ ]:
!rm examples/frame_pickle

### Using HDF5 Format

In [17]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [20]:
type(store)

pandas.io.pytables.HDFStore

In [18]:
store['obj1']

           a
0  -0.204708
1   0.478943
2  -0.519439
3  -0.555730
4   1.965781
5   1.393406
6   0.092908
7   0.281746
8   0.769023
9   1.246435
10  1.007189
11 -1.296221
12  0.274992
13  0.228913
14  1.352917
15  0.886429
16 -2.001637
17 -0.371843
18  1.669025
19 -0.438570
20 -0.539741
21  0.476985
22  3.248944
23 -1.021228
24 -0.577087
25  0.124121
26  0.302614
27  0.523772
28  0.000940
29  1.343810
..       ...
70 -1.332610
71  1.074623
72  0.723642
73  0.690002
74  1.001543
75 -0.503087
76 -0.622274
77 -0.921169
78 -0.726213
79  0.222896
80  0.051316
81 -1.157719
82  0.816707
83  0.433610
84  1.010737
85  1.824875
86 -0.997518
87  0.850591
88 -0.131578
89  0.912414
90  0.188211
91  2.169461
92 -0.114928
93  2.003697
94  0.029610
95  0.795253
96  0.118110
97 -0.748532
98  0.584970
99  0.152677

[100 rows x 1 columns]

In [21]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [24]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -0.204708
1  0.478943
2 -0.519439
3 -0.555730
4  1.965781

In [27]:
os.remove('mydata.h5')

### Reading Microsoft Excel Files

In [ ]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')
pd.read_excel(xlsx, 'Sheet1')

In [ ]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

In [ ]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [ ]:
frame.to_excel('examples/ex2.xlsx')

In [ ]:
!rm examples/ex2.xlsx

### Interacting with Web APIs

In [29]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [30]:
data = resp.json()
data[0]['title']

'Question: Clarification about the Warnings/Exceptions/Errors types.'

In [31]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,29276,Question: Clarification about the Warnings/Exc...,[],open
1,29275,CLN: update imports in tests,[],open
2,29274,[Minor Fix][Doc]What's New in 1.0.0,[],open
3,29272,CLN: Consistent imports in tests: pandas.util....,[],open
4,29271,BLD: fix some build warnings,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
5,29270,"Reduce Benchmark Times of stat_ops, particular...","[{'id': 732775912, 'node_id': 'MDU6TGFiZWw3MzI...",open
6,29269,Add simple test for GH 28448,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
7,29268,Named aggregations with multiple columns,[],open
8,29267,"API: public way to get the ""best values"" of a ...","[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
9,29266,BLD: ABCSeries mapper maps unmapped categories...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
10,29264,Inconsistent results between `rolling.corr` an...,[],open
11,29261,REF: Pre-empt TypeError in groupby,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
12,29260,Multiindex recurse error fix,"[{'id': 71268330, 'node_id': 'MDU6TGFiZWw3MTI2...",open
13,29256,Added whatsnew for 29174,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
14,29254,Fix SS06 Issues in docstrings,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
15,29252,Bug: Joining MultiIndex with NaNs,"[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
16,29250,API: consider undeprecating Series.item() ?,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
17,29248,initial HTML rendering for Series,"[{'id': 57395487, 'node_id': 'MDU6TGFiZWw1NzM5...",open
18,29247,ENH: Bulk merge a list of files.,"[{'id': 13098779, 'node_id': 'MDU6TGFiZWwxMzA5...",open
19,29246,REF: Simplify _cython_functions lookup,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
20,29245,ENH: Styler.background_gradient to accept vmin...,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
21,29244,REF: use fused types in hashtables,"[{'id': 49094459, 'node_id': 'MDU6TGFiZWw0OTA5...",open
22,29243,Follow up PR: #28097 Simplify branch statement,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
23,29242,config.register_option allows registering inva...,[],open
24,29241,merge vs. join - unify parameter names,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
25,29240,Trying to use to_sql on dataframe with numpy.n...,"[{'id': 47232590, 'node_id': 'MDU6TGFiZWw0NzIz...",open
26,29237,Replace _has_complex_internals #29227,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
27,29235,Categories reordered to alphabetical when plot...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
28,29234,BUG: PeriodEngine doesn't work,[],open
29,29233,read_csv encode operation on source,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open

### Interacting with Databases

In [32]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [33]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [34]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [39]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [38]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [36]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [37]:
!rm mydata.sqlite

## Conclusion